---
import Link from '../components/Link.astro';
import { defaultBreadcrumbs } from '../layouts/Breadcrumbs';
import ContaineredPageLayout from '../layouts/ContaineredPage/ContaineredPageLayout.astro';
import { PageHeadline } from '../styles/containers/PageHeadline';
import { Page } from '../types/pages';
---

<ContaineredPageLayout
    title='Data Sources'
    breadcrumbs={[...defaultBreadcrumbs, { name: 'Data sources', href: Page.dataSources }]}
>
    <PageHeadline>Data sources and preprocessing</PageHeadline>
    <div>
        <p class='my-2'>
            GenSpectrum uses mostly open data from the
            <Link href='https://www.insdc.org/' external
                >International Nucleotide Sequence Database Collaboration (INSDC)
            </Link>
            which consists of
            <Link href='https://www.ncbi.nlm.nih.gov/genbank/' external>GenBank</Link>
            ,
            <Link href='https://www.ebi.ac.uk/ena/browser/' external>ENA</Link>
            and
            <Link href='https://www.ddbj.nig.ac.jp/' external>DDBJ</Link>
            .
        </p>
        <ul class='ml-6 list-disc'>
            <li>
                For influenza and RSV, we download the data directly from GenBank using the NCBI Datasets CLI. You can
                explore the data in
                <Link href='https://loculus.genspectrum.org/' external>our Loculus instance</Link>
                .
            </li>
            <li>
                For SARS-CoV-2, we download the data from
                <Link href='https://nextstrain.org/blog/2021-07-08-ncov-open-announcement' external>Nextstrain</Link>
                who gets the data from GenBank and processes them. (For
                <Link href='https://cov-spectrum.org' external>CoV-Spectrum</Link>
                , we have an instance which uses data from
                <Link href='https://gisaid.org' external>GISAID</Link>
                .)
            </li>
            <li>
                For the West Nile virus and Mpox, we use data from
                <Link href='https://pathoplexus.org' external>Pathoplexus</Link>
                , which also includes data from INSDC.
            </li>
        </ul>
        <p class='my-2'>
            We use
            <Link href='https://clades.nextstrain.org/' external>Nextclade</Link>
            as the main tool for preprocessing the sequences. The following sequences are used as a reference for alignment:
        </p>
        <ul class='ml-6 list-disc'>
            <li>
                SARS-CoV-2:
                <Link href='https://www.ncbi.nlm.nih.gov/nuccore/NC_045512' external>NC_045512</Link>
            </li>
            <li>
                Mpox:
                <Link href='https://www.ncbi.nlm.nih.gov/nuccore/NC_063383.1' external>NC_063383.1</Link>
            </li>
            <li>
                RSV-A: EPI_ISL_412866 (available on
                <Link href='https://gisaid.org' external>GISAID</Link>
                ; an almost identical sequences is
                <Link href='https://www.ncbi.nlm.nih.gov/nuccore/LR699737' external>LR699737</Link>
                )
            </li>
            <li>
                RSV-B:
                <Link href='https://www.ncbi.nlm.nih.gov/nuccore/OP975389.1' external>OP975389.1</Link>
            </li>
            <li>
                West Nile virus:
                <Link href='https://www.ncbi.nlm.nih.gov/nuccore/NC_009942.1' external>NC_009942.1</Link>
            </li>
            <li>
                Ebola Sudan:
                <Link href='https://www.ncbi.nlm.nih.gov/nuccore/NC_006432.1' external>NC_006432.1</Link>
            </li>
            <li>
                Ebola Zaire:
                <Link href='https://www.ncbi.nlm.nih.gov/nuccore/NC_002549.1' external>NC_002549.1</Link>
            </li>
            <li>
                Influenza A/H5N1:
                <Link href='https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000864105.1/' external>
                    A/goose/Guangdong/1/1996
                </Link>
            </li>
            <li>
                Influenza A/H1N1pdm: We use the reference assembly
                <a href='https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_001343785.1'> GCF_001343785.1 </a>
                except for HA (uses <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY121680.1'>CY121680.1 </a>) and NA
                (uses <a href='https://www.ncbi.nlm.nih.gov/nuccore/MW626056.1'> MW626056.1</a>).
            </li>
            <li>
                Influenza A/H3N2: We use the reference assembly
                <a href='https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000865085.1/'> GCF_000865085.1 </a>
                except for HA (uses <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY163680.1'>CY163680.1 </a>) and NA
                (uses <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY114383.1'> CY114383.1</a>).
            </li>
            <li>
                Influenza B/Victoria: We use the same references as the official nextclade dataset. These are:
                <ul>
                    <li>seg1: <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY115157.1'>CY115157.1 </a></li>
                    <li>seg2: <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY115158.1'>CY115158.1</a></li>
                    <li>seg3: <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY115156.1'>CY115156.1</a></li>
                    <li>seg4: <a href='https://www.ncbi.nlm.nih.gov/nuccore/KX058884.1'>KX058884.1</a></li>
                    <li>seg5: <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY115154.1'>CY115154.1</a></li>
                    <li>seg6: <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY073894.1'>CY073894.1</a></li>
                    <li>seg7: <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY115152.1'>CY115152.1</a></li>
                    <li>seg8: <a href='https://www.ncbi.nlm.nih.gov/nuccore/CY115155.1'>CY115155.1</a></li>
                </ul>
            </li>
        </ul>
    </div>
</ContaineredPageLayout>
