---
import { defaultBreadcrumbs } from '../layouts/Breadcrumbs';
import ContaineredPageLayout from '../layouts/ContaineredPage/ContaineredPageLayout.astro';
import { PageHeadline } from '../styles/containers/PageHeadline';
import { Page } from '../types/pages';
---

<style>
    .main a {
        @apply text-slate-500 hover:underline;
    }

    p,
    ul {
        @apply mb-4;
    }
</style>

<ContaineredPageLayout
    title='Data Sources'
    breadcrumbs={[...defaultBreadcrumbs, { name: 'Data sources', href: Page.dataSources }]}
>
    <PageHeadline>Data sources and preprocessing</PageHeadline>
    <div class='main'>
        <p>
            GenSpectrum uses mostly open data from the <a href='https://www.insdc.org/'
                >International Nucleotide Sequence Database Collaboration (INSDC)</a
            > which consists of <a href='https://www.ncbi.nlm.nih.gov/genbank/'>GenBank</a>, <a
                href='https://www.ebi.ac.uk/ena/browser/'>ENA</a
            > and <a href='https://www.ddbj.nig.ac.jp/'>DDBJ</a>.
        </p>
        <ul class='ml-6 list-disc'>
            <li>
                For influenza and RSV, we download the data directly from GenBank using the NCBI Datasets CLI. You can
                explore the data in <a href='https://loculus.genspectrum.org/'>our Loculus instance</a>.
            </li>
            <li>
                For SARS-CoV-2, we download the data from <a
                    href='https://nextstrain.org/blog/2021-07-08-ncov-open-announcement'>Nextstrain</a
                >
                who gets the data from GenBank and processes them. (For <a href='https://cov-spectrum.org'
                    >CoV-Spectrum</a
                >, we have an instance which uses data from <a href='https://gisaid.org'>GISAID</a>.)
            </li>
            <li>
                For the West Nile virus and Mpox, we use data from <a href='https://pathoplexus.org'>Pathoplexus</a>,
                which also includes data from INSDC.
            </li>
        </ul>
        <p>
            We use <a href='https://clades.nextstrain.org/'>Nextclade</a> as the main tool for preprocessing the sequences.
            The following sequences are used as a reference for alignment:
        </p>
        <ul class='ml-6 list-disc'>
            <li>SARS-CoV-2: <a href='https://www.ncbi.nlm.nih.gov/nuccore/NC_045512'>NC_045512</a></li>
            <li>Mpox: <a href='https://www.ncbi.nlm.nih.gov/nuccore/NC_063383.1'>NC_063383.1</a></li>
            <li>
                RSV-A: EPI_ISL_412866 (available on <a href='https://gisaid.org'>GISAID</a>; an almost identical
                sequences is <a href='https://www.ncbi.nlm.nih.gov/nuccore/LR699737'>LR699737</a>)
            </li>
            <li>RSV-B: <a href='https://www.ncbi.nlm.nih.gov/nuccore/OP975389.1'>OP975389.1</a></li>
            <li>West Nile virus: <a href='https://www.ncbi.nlm.nih.gov/nuccore/NC_009942.1'>NC_009942.1</a></li>
            <li>
                Influenza A/H5N1: <a href='https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000864105.1/'
                    >A/goose/Guangdong/1/1996</a
                >
            </li>
        </ul>
    </div>
</ContaineredPageLayout>
