---
import { logout } from '../auth/logout';
import BaseLayout from '../layouts/base/BaseLayout.astro';

const signOutResponse = await logout(Astro.request);

for (const cookie of signOutResponse.headers.getSetCookie()) {
    Astro.response.headers.append('Set-Cookie', cookie);
}
---

<BaseLayout title='Logout' forceLoggedOutState>
    <div class='text-center'>
        <h3 class='mb-4 text-xl'>Logout</h3>
        <p>You have been logged out.</p>
    </div>
</BaseLayout>
