---
import { logout } from '../auth/logout';
import BaseLayout from '../layouts/base/BaseLayout.astro';

const { cookies } = await logout(Astro.request);

for (const cookie of cookies) {
    Astro.cookies.delete(cookie.name);
}
---

<BaseLayout title='Logout' forceLoggedOutState>
    <div class='text-center'>
        <h3 class='mb-4 text-xl'>Logout</h3>
        <p>You have been logged out.</p>
    </div>
</BaseLayout>
