---
import Footer from './Footer.astro';
import Header from './header/Header.astro';

interface Props {
    title: string;
    forceLoggedOutState?: boolean;
}

const { title, forceLoggedOutState = false } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/png' href='/favicon.png' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
        <script>
            import '@genspectrum/dashboard-components';
            import '@genspectrum/dashboard-components/style.css';
            import '../../styles/tailwind.css';
        </script>
    </head>

    <body>
        <Header forceLoggedOutState={forceLoggedOutState} />
        <slot />
        <Footer />
    </body>
</html>
