---
// eslint-disable-next-line import/no-deprecated -- "Parse errors in imported module '@auth/core/types': parser.parse is not a function (undefined:undefined)"
import { ToastContainer } from 'react-toastify';

import 'react-toastify/dist/ReactToastify.css';
import '@genspectrum/dashboard-components/style.css';
import '../../styles/tailwind.css';
import Footer from './footer/Footer.astro';
import FooterNavigation from './footer/FooterNavigation.astro';
import Header from './header/Header.astro';

interface Props {
    title: string;
    forceLoggedOutState?: boolean;
}

const { title, forceLoggedOutState = false } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/png' href='/virus-outline-colorful.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
        <script is:inline defer data-domain='genspectrum.org' src='https://plausible.io/js/script.js'></script>
        <script>
            import '@genspectrum/dashboard-components/components';
        </script>
    </head>

    <body class='flex min-h-screen flex-col'>
        <ToastContainer client:load />
        <div class='flex-grow'>
            <Header forceLoggedOutState={forceLoggedOutState} />
            <slot />
        </div>
        <Footer>
            <slot slot='secondary-footer' name='secondary-footer' />
            <FooterNavigation slot='primary-footer' />
        </Footer>
    </body>
</html>
