---

---

<div class='mt-6 flex place-content-between border-t p-2'>
    <div>Enabled by data from <a class='underline' href='https://www.insdc.org/'>INSDC</a></div>
    <div>Data last updated on: TODO</div>
    <div><a class='underline' href='https://github.com/GenSpectrum'>GitHub</a></div>
</div>
