---
import OrganismSelector from './OrganismSelector.astro';
import ViewSelector from './ViewSelector.astro';
import LoginState from '../../components/auth/LoginState.astro';

interface Props {
    omitHeaderNavigation?: boolean;
    forceLoggedOutState?: boolean;
}

const { omitHeaderNavigation = false, forceLoggedOutState = false } = Astro.props;
---

<div class='mb-2 flex place-content-between items-center border-b p-2'>
    <div class='font-bold'><a href='/'>GenSpectrum</a></div>
    {
        !omitHeaderNavigation && (
            <>
                <OrganismSelector />
                <ViewSelector />
            </>
        )
    }
    <LoginState forceLoggedOutState={forceLoggedOutState} />
</div>
