---
import { organismConfig } from '../../routes/View';
import { ServerSide } from '../../routes/serverSideRouting';

const currentRoute = ServerSide.routing.parseUrl(Astro.url)!;
const currentOrganism = currentRoute?.organism;
---

<label>
    Organism:
    <select id='organism-selector'>
        {
            currentOrganism === undefined && (
                <option value='' selected disabled>
                    Select an organism
                </option>
            )
        }
        {
            Object.values(organismConfig).map((organism) => (
                <option value={organism.pathFragment} selected={currentOrganism === organism.organism}>
                    {organism.label}
                </option>
            ))
        }
    </select>
</label>

<script>
    const organismSelector = document.getElementById('organism-selector') as HTMLSelectElement | null;
    organismSelector?.addEventListener('change', () => {
        const organism = organismSelector.selectedOptions[0].value;
        window.location.href = `/${organism}`;
    });
</script>
