---
import BaseLayout from '../../layouts/base/BaseLayout.astro';
---

<BaseLayout title='GenSpectrum'>
    <gs-app lapis='https://lapis-main.loculus.org/mpox'>
        <div class='grid-cols-[300px_1fr] gap-x-4 sm:grid'>
            <div>
                <div class='bg-blue-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Filter dataset:</div>
                    <!--TODO-->
                </div>
            </div>
            <div>
                <!--TODO-->
            </div>
        </div>
    </gs-app>
</BaseLayout>
