---
import { defaultBreadcrumbs } from '../../layouts/Breadcrumbs';
import OrganismPageLayout from '../../layouts/OrganismPage/OrganismPageLayout.astro';
import { dataOrigins } from '../../types/dataOrigins';
import { wastewaterConfig } from '../../types/wastewaterConfig';
import GsWastewaterMutationsOverTime from '../../components/genspectrum/GsWastewaterMutationsOverTime.astro';

const lapisUrl = `${wastewaterConfig.lapisBaseUrl}/rsv`;
---

<OrganismPageLayout
    title='Swiss wastewater - RSV'
    breadcrumbs={[
        ...defaultBreadcrumbs,
        { name: 'Swiss Wastewater' },
        {
            name: 'RSV',
            href: wastewaterConfig.pages.rsv,
        },
    ]}
    dataOrigins={[dataOrigins.wise]}
    lapisUrl={lapisUrl}
>
    <gs-app lapis={lapisUrl}>
        <div class='m-4 flex flex-col gap-4'>
            {
                ['RSV-A', 'RSV-B'].map((reference) => (
                    <GsWastewaterMutationsOverTime
                        title={reference}
                        lapisFilter={{
                            reference,
                            versionStatus: 'LATEST_VERSION',
                            isRevocation: false,
                        }}
                        sequenceType='nucleotide'
                    />
                ))
            }
        </div>
    </gs-app>
</OrganismPageLayout>
