---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a class='after:iconify after:align-text-bottom after:mdi--external-link' href={href}>
    <span class='underline'><slot /></span>
</a>
