---
import { externalLinkIconCss } from '../../../components/iconCss';
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a class={externalLinkIconCss} href={href}>
    <span class='underline'><slot /></span>
</a>
