---

---

<div class='min-h-18 flex items-center justify-center gap-6 p-2'>
    <a href='/'>GenSpectrum</a>
    <a class='flex items-center' href='https://github.com/GenSpectrum/dashboards'>
        <div class='iconify size-8 mdi--github'></div>
    </a>
</div>
