---
import Header from './Header.astro';
import Footer from './Footer.astro';

interface Props {
    title: string;
    omitHeader?: boolean;
}

const { title, omitHeader = false } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
    </head>
    <script>
        import '@genspectrum/dashboard-components';
        import '@genspectrum/dashboard-components/style.css';
    </script>
    <body>
        {!omitHeader && <Header />}
        <slot />
        <Footer />
    </body>
</html>
