---
import ViewSelector from './ViewSelector.astro';
import OrganismSelector from './OrganismSelector.astro';
---

<div class='mb-2 flex place-content-between border-b p-2'>
    <div class='font-bold'>GenSpectrum</div>
    <OrganismSelector />
    <ViewSelector />
</div>
