<!doctype html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Components Demo</title>
        <!--        <script src="./node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>-->
        <script src="./node_modules/lit/polyfill-support.js"></script>
        <script type="module" src="./src/components/app.ts"></script>
        <!--        <script type="module" src="src/components/locationFilter/location-filter.ts"></script>-->
        <script type="module" src="src/components/prevalenceOverTime/prevalence-over-time.ts"></script>
        <script type="module" src="src/preact/LocationComponent.ts"></script>
        <!--        <script type="module" src="src/preact/LapisUrlContext.ts"></script>-->
    </head>
    <body>
        <gs-lapis-context value="https://lapis.cov-spectrum.org/open/v1/sample">
            <p>Hello I'm here</p>
            <gs-location-filter2 fields='["region", "country", "division", "location"]' }></gs-location-filter2>
        </gs-lapis-context>
        <gs-app lapis="https://lapis.cov-spectrum.org/open/v1/sample">
            <!--            <gs-location-filter-->
            <!--                value="Europe / Switzerland"-->
            <!--                fields='["region", "country", "division", "location"]'-->
            <!--            ></gs-location-filter>-->
            <gs-prevalence-over-time
                numerator='{"country":"Switzerland", "pangoLineage":"B.1.1.7", "dateTo":"2022-01-01"}'
                denominator='{"country":"Switzerland", "dateTo":"2022-01-01"}'
                granularity="day"
                smoothingWindow="7"
                views='["line", "table"]'
            ></gs-prevalence-over-time>
            <gs-prevalence-over-time
                numerator='{"country":"Switzerland", "pangoLineage":"B.1.1.7", "dateTo":"2022-01-01"}'
                denominator='{"country":"Switzerland", "dateTo":"2022-01-01"}'
                granularity="month"
                smoothingWindow="0"
                views='["bar", "table"]'
            ></gs-prevalence-over-time>
        </gs-app>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelector('gs-location-filter2').addEventListener('gs-location-changed', (event) => {
                    console.log(event);
                    const sequencesElements = document.querySelectorAll('gs-prevalence-over-time');
                    sequencesElements.forEach((el) => {
                        ['numerator', 'denominator'].forEach((attr) => {
                            const old = JSON.parse(el.getAttribute(attr));
                            el.setAttribute(attr, JSON.stringify({ ...old, ...event.detail }));
                        });
                    });
                });
            });
        </script>
    </body>
</html>
