---
import { LoginButton } from './LoginButton';
import UserDropdown from './UserDropdown.astro';

interface Props {
    forceLoggedOutState?: boolean;
}

const { forceLoggedOutState = false } = Astro.props;

const showLoggedInState = !forceLoggedOutState && Astro.locals.user !== null;
---

{
    showLoggedInState ? (
        <UserDropdown session={{ user: Astro.locals.user! }} />
    ) : (
        <div class='mr-2 font-bold'>
            <LoginButton client:load />
        </div>
    )
}
