---
import { auth } from '../../auth';

import { LoginButton } from './LoginButton';
import UserDropdown from './UserDropdown.astro';

interface Props {
    forceLoggedOutState?: boolean;
}

const { forceLoggedOutState = false } = Astro.props;

const session = await auth.api.getSession({ headers: Astro.request.headers });
const showLoggedInState = !forceLoggedOutState && session?.user !== undefined;
---

{
    showLoggedInState ? (
        <UserDropdown session={session} />
    ) : (
        <div class='mr-2 font-bold'>
            <LoginButton client:load />
        </div>
    )
}
