---
import { PageContainer } from '../../styles/containers/PageContainer';
import { PageHeadline } from '../../styles/containers/PageHeadline';
---

<PageContainer>
    <PageHeadline>Not authorized</PageHeadline>
    <div class='mb-2'>You do not have permission to edit this collection.</div>
</PageContainer>
