---
import { PageContainer } from '../../styles/containers/PageContainer';
import { PageHeadline } from '../../styles/containers/PageHeadline';
---

<PageContainer>
    <PageHeadline>Please login</PageHeadline>
    <div class='mb-2'>You are not logged in. Please log in to access this page.</div>
</PageContainer>
