---
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import { getLapisUrl } from '../../config';
import { Organisms } from '../../routes/View';

const locationFilterFields = ['region', 'country'];

const baselineFilter = {
    dateFrom: '2021-01-01',
    dateTo: '2021-12-31',
    country: 'Switzerland',
};

const variantFilter = {
    ...baselineFilter,
    pangoLineage: 'B.1.1.7',
};
---

<BaseLayout title='Create new subscription' omitHeaderNavigation='true'>
    <div class='container mx-auto'>
        <div class='mt-4 flex h-12 w-full place-content-between items-center rounded bg-gray-200 px-2'>
            <h2 class='font-bold'>Create new subscription</h2>
            <div>
                <button class='btn btn-ghost btn-sm'>Cancel</button>
                <button class='btn btn-primary btn-sm'>Save</button>
            </div>
        </div>

        <div class='mt-4 flex flex-col gap-6'>
            <div>General</div>

            <div class='grid grid-cols-[150px_300px] items-center gap-4'>
                <div class='text-right'>Name</div>
                <label class='ml-2 w-full'>
                    <input class='input input-bordered w-full' placeholder='Name' />
                </label>

                <div class='text-right'>Interval</div>
                <label class='ml-2 w-full'>
                    <select class='select select-bordered w-full'>
                        <option>daily</option>
                        <option>weekly</option>
                        <option>monthly</option>
                    </select>
                </label>

                <div class='text-right'>Pathogen</div>
                <label class='ml-2 w-full'>
                    <select class='select select-bordered w-full'>
                        <option>COVID-19</option>
                        <option>Flu</option>
                    </select>
                </label>
            </div>

            <div>Notification channels</div>
            <div class='flex flex-col gap-2'>
                <ul class='ml-2 flex gap-8'>
                    <li>
                        <label class='flex gap-2'>
                            <input type='checkbox' class='checkbox' />
                            Email
                        </label>
                        <ul class='ml-8 mt-2 flex flex-col space-y-2'>
                            <li>
                                <div class='join flex items-center'>
                                    <label class='join-item'>
                                        <input class='input join-item input-bordered' placeholder='test@test.test' />
                                    </label>
                                    <button class='btn join-item'>
                                        <div class='iconify mdi--trash-can-outline'></div>
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class='join flex items-center'>
                                    <label class='join-item'>
                                        <input class='input join-item input-bordered' placeholder='test2@test.test' />
                                    </label>
                                    <button class='btn join-item'>
                                        <div class='iconify mdi--trash-can-outline'></div>
                                    </button>
                                </div>
                            </li>
                            <li>
                                <button class='btn btn-ghost btn-sm text-gray-400'>Add</button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label class='flex gap-2'>
                            <input type='checkbox' class='checkbox' />
                            Slack
                        </label>
                        <div class='ml-8 mt-2 flex flex-col'>
                            <label>
                                <input class='input input-bordered' placeholder='Channel info' />
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class='divider'></div>

        <div class='mt-2'>Filter</div>
        <gs-app lapis={getLapisUrl(Organisms.covid)}>
            <div class='mt-4 grid grid-cols-2 gap-8'>
                <div class='grid grid-cols-[150px_1fr] gap-4'>
                    <div class='mt-2 text-right'>Threshold</div>
                    <div class='flex w-full'>
                        <label class='ml-2 w-full'>
                            <select class='select select-bordered w-full'>
                                <option>Prevalence</option>
                                <option>Count</option>
                            </select>
                        </label>
                        <label class={`input input-bordered flex items-center gap-2`}>
                            <input type='number' step={0.1} min={0} max={100} lang='en' class={`grow w-32`} value={0} />
                            %
                        </label>
                    </div>

                    <div class='mt-2 text-right'>Baseline</div>
                    <div class='w-full'>
                        <gs-location-filter
                            id='locationFilter'
                            fields={JSON.stringify(locationFilterFields)}
                            initialValue='Europe / Switzerland'
                            placeholderText='Sampling location'
                            width='100%'></gs-location-filter>
                    </div>

                    <div class='mt-2 text-right'>Variant</div>
                    <div class='flex w-full flex-col gap-2'>
                        <gs-text-input
                            id={`textFilter`}
                            lapisField={'host'}
                            placeholderText={'Some text input'}
                            width='100%'></gs-text-input>
                        <gs-mutation-filter id='mutationFilter' width='100%'></gs-mutation-filter>
                    </div>
                </div>

                <div>
                    <div>
                        <h2 class='component-title'>Prevalence over time</h2>
                        <div class='h-[400px]'>
                            <gs-prevalence-over-time
                                numeratorFilter={JSON.stringify({
                                    displayName: '',
                                    lapisFilter: variantFilter,
                                })}
                                denominatorFilter={JSON.stringify(baselineFilter)}
                                granularity='month'
                                smoothingWindow='0'
                                width='100%'
                                height='100%'></gs-prevalence-over-time>
                        </div>
                    </div>
                </div>
            </div>
        </gs-app>
    </div>
</BaseLayout>
