---
import BaseLayout from '../layouts/base/BaseLayout.astro';
import { Routing } from '../routes/routing';

const x = ['Analyze a variant', 'Compare variants side-by-side', 'CoV-Spectrum (external)'];
---

<BaseLayout omitHeader='true'>
    <div class='mb-2 flex place-content-between border-b p-2'>
        <div class='font-bold'><a href='/'>GenSpectrum</a></div>
    </div>

    <div class='m-8 flex flex-wrap justify-around gap-x-32 gap-y-12'>
        {
            Routing.organisms.map((organism) => (
                <div class='w-[250px]'>
                    <h2 class='text-2xl'>{organism.label}</h2>
                    <ul class='ml-4 mt-2 border-l-2 border-l-black text-lg '>
                        {Routing.views[organism.organism].map((view) => (
                            <li class='flex items-start pt-4'>
                                <div class='mr-2 w-4 border-b-2 border-b-black pt-[0.8rem]' />
                                <a
                                    href={Routing.toUrl(Routing.getDefaultRoute(view.pathname))}
                                    class='hover:underline hover:decoration-blue-500 hover:decoration-4'
                                >
                                    {view.labelLong}
                                </a>
                            </li>
                        ))}
                        {organism.organism === 'covid' && (
                            <li class='flex items-start pt-4'>
                                <div class='mr-2 w-4 border-b-2 border-b-black pt-[0.8rem]' />
                                <a
                                    href='https://cov-spectrum.org'
                                    class='hover:underline hover:decoration-blue-500 hover:decoration-4'
                                >
                                    CoV-Spectrum
                                </a>
                            </li>
                        )}
                    </ul>
                </div>
            ))
        }
    </div>
</BaseLayout>
