---
import { collectionVariantClassName } from './CollectionsList';
import { Organisms } from '../../../types/Organism';
import { toDisplayName } from '../../../views/pageStateHandlers/PageStateHandler';
import type { OrganismWithViewKey, ViewsMap } from '../../../views/routing';
import { singleVariantViewKey } from '../../../views/viewKeys';

type SingleVariantOrganism = OrganismWithViewKey<typeof singleVariantViewKey>;
interface Props {
    view: ViewsMap[Exclude<SingleVariantOrganism, typeof Organisms.covid>][typeof singleVariantViewKey];
}

const { view } = Astro.props;

const variants = view.organismConstants.predefinedVariants;

const pageState = view.pageStateHandler.parsePageStateFromUrl(Astro.url);
---

<div class='text-center'>
    <p class='mb-2 mt-4'>To get started you can choose one of these variants:</p>

    <div class='flex max-w-md flex-col'>
        {
            variants.map((variant) => (
                <a
                    class={collectionVariantClassName}
                    href={view.pageStateHandler.toUrl({
                        datasetFilter: pageState.datasetFilter,
                        variantFilter: variant,
                    })}
                >
                    {toDisplayName(variant)}
                </a>
            ))
        }
    </div>
</div>
