---
import { PageHeadline } from '../../../styles/containers/PageHeadline';
---

<div class='flex w-full flex-col items-center justify-center rounded border-2 border-primary p-8'>
    <PageHeadline>Analyze a single variant</PageHeadline>
    <div class='mx-2 flex max-w-xl flex-col text-center'>
        <p>Which variant would you like to explore? Select it from the filter on the left.</p>
        <p>
            Note that the dataset filter is applied to the entire dataset. Adjust the dataset filter as needed to refine
            your selection.
        </p>
    </div>
    <slot />
</div>
