---
import { PageHeadline } from '../../../styles/containers/PageHeadline';
import { type OrganismsConfig } from '../../../config';

---

<div class='mt-20 max-w-xl flex flex-col'>
    <div class='mx-auto'>
        <PageHeadline>Analyze a single variant</PageHeadline>
    </div>
    <div class='max-w-xl flex flex-col gap-2 mx-2 text-center'>
        <p>Which variant would you like to explore? Select it from the filter on the left.</p>
        <p>
            Note that the dataset filter is applied to the entire dataset. Adjust the dataset filter as needed to refine
            your selection.
        </p>
    </div>
</div>
