---

---

<div class='w-full divide-y-2 overflow-x-auto rounded border-2'>
    <div class='backgound flex w-full place-content-between items-center bg-gray-200'>
        <div class='flex h-12 items-center'>
            <div class='ml-2'>Subscriptions</div>
            <label>
                <input class='input input-sm ml-8' placeholder='Search' />
            </label>
        </div>

        <div class='flex-end'>
            <button class='btn btn-primary btn-sm'>Add</button>
            <button class='btn btn-primary btn-sm'>Delete (2)</button>
        </div>
    </div>

    <table class='table table-pin-cols w-full table-auto'>
        <thead>
            <tr>
                <td>
                    <label>
                        <input type='checkbox' class='checkbox' />
                    </label>
                </td>
                <th>Status</th>
                <th>Name</th>
                <th>Filter</th>
                <th>Interval</th>
                <th>Trigger</th>
                <th>Is active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>
                        <input type='checkbox' class='checkbox' />
                    </label>
                </td>
                <td>
                    <div class='tooltip' data-tip='Trigger criteria not met'>
                        <span class='iconify text-2xl mdi--circle-slice-8' style='color: #e01b24;'></span>
                    </div>
                </td>
                <td> My search</td>
                <td>
                    <p>Country: Germany</p>
                    <p>DateFrom: 2024-01-01</p>
                    <p>DateTo: 2024-01-05</p>
                </td>
                <td>weekly</td>
                <td>Count: 10</td>
                <td>true</td>
                <td>
                    <button class='btn btn-ghost btn-xs'>Edit</button>
                </td>
            </tr>

            <tr>
                <td>
                    <label>
                        <input type='checkbox' class='checkbox' />
                    </label>
                </td>
                <td>
                    <div class='tooltip' data-tip='Trigger criteria met'>
                        <span class='iconify text-2xl mdi--circle-slice-8' style='color: #35e01b;'></span>
                    </div>
                </td>
                <td> My other search</td>
                <td>
                    <p>Country: Switzerland</p>
                    <p>DateFrom: 2024-01-01</p>
                    <p>DateTo: 2024-01-05</p>
                </td>
                <td>daily</td>
                <td>Count: 20</td>
                <td>true</td>
                <td>
                    <button class='btn btn-ghost btn-xs'>Edit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type='checkbox' class='checkbox' />
                    </label>
                </td>
                <td>
                    <div class='tooltip' data-tip='Trigger criteria not met'>
                        <span class='iconify text-2xl mdi--circle-slice-8' style='color: #e01b24;'></span>
                    </div>
                </td>
                <td> My third search</td>
                <td>
                    <p>Country: Germany</p>
                    <p>DateFrom: 2024-01-01</p>
                    <p>DateTo: 2024-01-05</p>
                </td>
                <td>weekly</td>
                <td>Count: 13</td>
                <td>true</td>
                <td>
                    <button class='btn btn-ghost btn-xs'>Edit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type='checkbox' class='checkbox' />
                    </label>
                </td>
                <td>
                    <div class='tooltip' data-tip='Trigger criteria not met'>
                        <span class='iconify text-2xl mdi--circle-slice-8' style='color: #e01b24;'></span>
                    </div>
                </td>
                <td> My search</td>
                <td>
                    <p>Country: Germany</p>
                    <p>DateFrom: 2024-01-01</p>
                    <p>DateTo: 2024-01-05</p>
                </td>
                <td>weekly</td>
                <td>Count: 10</td>
                <td>true</td>
                <td>
                    <button class='btn btn-ghost btn-xs'>Edit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type='checkbox' class='checkbox' />
                    </label>
                </td>
                <td>
                    <div class='tooltip' data-tip='Trigger criteria not met'>
                        <span class='iconify text-2xl mdi--circle-slice-8' style='color: #e01b24;'></span>
                    </div>
                </td>
                <td> My search</td>
                <td>
                    <p>Country: Germany</p>
                    <p>DateFrom: 2024-01-01</p>
                    <p>DateTo: 2024-01-05</p>
                </td>
                <td>weekly</td>
                <td>Count: 10</td>
                <td>true</td>
                <td>
                    <button class='btn btn-ghost btn-xs'>Edit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type='checkbox' class='checkbox' />
                    </label>
                </td>
                <td>
                    <div class='tooltip' data-tip='Trigger criteria not met'>
                        <span class='iconify text-2xl mdi--circle-slice-8' style='color: #e01b24;'></span>
                    </div>
                </td>
                <td> My search</td>
                <td>
                    <p>Country: Germany</p>
                    <p>DateFrom: 2024-01-01</p>
                    <p>DateTo: 2024-01-05</p>
                </td>
                <td>weekly</td>
                <td>Count: 10</td>
                <td>true</td>
                <td>
                    <button class='btn btn-ghost btn-xs'>Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
