---
import LoginState from '../../../components/auth/LoginState.astro';
import { isLoginEnabled } from '../../../config';

interface Props {
    forceLoggedOutState?: boolean;
}

const { forceLoggedOutState = false } = Astro.props;
---

<div class='mr-2 flex w-32 justify-end'>
    {isLoginEnabled() ? <LoginState forceLoggedOutState={forceLoggedOutState} /> : null}
</div>
