---
import { Brand } from './Brand';
import CallToAction from './CallToAction.astro';
import { Navigation } from './Navigation';
import { headerHeight } from './headerConstants';

interface Props {
    forceLoggedOutState?: boolean;
}

const { forceLoggedOutState = false } = Astro.props;
---

<header class='sticky top-0 z-10 border-b bg-white'>
    <div class={`flex ${headerHeight} subtitle hidden md:flex md:z-6 gap-4 items-center justify-between`}>
        <Brand name='GenSpectrum' />
        <Navigation />
        <CallToAction forceLoggedOutState={forceLoggedOutState} />
    </div>

    <div class={`flex ${headerHeight} z-0 md:hidden md:z-6 gap-4 items-center justify-between`}>
        <Brand name='' />
        <div class='justify-end'>HamburgerMenu</div>
    </div>
</header>
