---
import type { LapisFilter } from '@genspectrum/dashboard-components/util';

import { assembleDownloadUrl } from './assembleDownloadUrl';
import { Modal } from '../../styles/containers/Modal';
import { ModalContent } from '../../styles/containers/ModalContent';
import { ModalHeader } from '../../styles/containers/ModalHeader';

type DownloadLink = {
    label: string;
    filter: LapisFilter;
    downloadFileBasename: string;
};

interface Props {
    accessionDownloadFields: string[];
    downloadLinks: DownloadLink[];
    lapisUrl: string;
}

const { accessionDownloadFields, downloadLinks, lapisUrl } = Astro.props;

const modalId = 'accessionDownloadModal';
---

<button class='btn btn-ghost btn-xs' onclick={`${modalId}.showModal()`}>
    <span class='iconify mdi--download text-base'></span>
    <span class='font-normal'>Download data</span>
</button>
<Modal id={modalId}>
    <ModalHeader title='Download data' icon='mdi--download' />
    <ModalContent>
        <p>You can download a list of accessions that are used for the visualizations on this page:</p>
        <div class='m-8'>
            {
                downloadLinks
                    .map(({ label, filter, downloadFileBasename }) => ({
                        label,
                        url: assembleDownloadUrl(accessionDownloadFields, filter, downloadFileBasename, lapisUrl),
                    }))
                    .map(({ label, url }) => (
                        <a class='link m-2 flex items-center gap-1' href={url}>
                            <span class='iconify mdi--download text-xl' />
                            {label}
                        </a>
                    ))
            }
        </div>
        <form method='dialog' class='flex flex-col items-end'>
            <button class='underline'>Close</button>
        </form>
    </ModalContent>
</Modal>
