---
import LapisUnreachableWrapperClient from '../../components/LapisUnreachableWrapperClient';
import { type BreadcrumbElement, Breadcrumbs } from '../Breadcrumbs';
import BaseLayout from '../base/BaseLayout.astro';

interface Props {
    title: string;
    breadcrumbs: BreadcrumbElement[];
    lapisUrl: string;
}

const { title, breadcrumbs, lapisUrl } = Astro.props;
---

<BaseLayout title={title}>
    <div class='flex h-full flex-col'>
        <div class='ml-2'>
            <Breadcrumbs breadcrumbs={breadcrumbs} />
        </div>
        <div class='grow'>
            <LapisUnreachableWrapperClient lapisUrl={lapisUrl} client:only='react'>
                <slot />
            </LapisUnreachableWrapperClient>
        </div>
    </div>
</BaseLayout>
