---
import { getLastUpdatedDate } from '../../lapis/getLastUpdatedDate';

interface Props {
    lapisUrl: string;
}

const { lapisUrl } = Astro.props;

const lastUpdatedDate = await getLastUpdatedDate(lapisUrl);
---

<span class='flex justify-center p-2 text-xs'>Data last updated: {lastUpdatedDate ?? 'unknown'}</span>
