---
import { getLapisUrl } from '../../config';
import { getLastUpdatedDate } from '../../lapis/getLastUpdatedDate';
import { getViewBreadcrumbEntries, getViewTitle, type View } from '../../views/View';
import { Breadcrumbs } from '../Breadcrumbs';
import BaseLayout from '../base/BaseLayout.astro';
import DataInfo from '../base/footer/DataInfo.astro';

interface Props<PageState extends object> {
    view: View<PageState>;
}

const { view } = Astro.props;

const lastUpdatedDate = await getLastUpdatedDate(getLapisUrl(view.organism));
---

<BaseLayout title={getViewTitle(view)}>
    <div class='ml-2'>
        <Breadcrumbs breadcrumbs={getViewBreadcrumbEntries(view)} />
    </div>
    <slot />
    <div class='flex justify-center' slot='secondary-footer'>
        <span class='mr-4 p-2 text-xs'>Data last updated: {lastUpdatedDate ?? 'unknown'}</span>
        <DataInfo dataOrigins={view.dataOrigins} />
    </div>
</BaseLayout>
