---
import { getViewBreadcrumbEntries, getViewTitle, type View } from '../../views/View';
import { Breadcrumbs } from '../Breadcrumbs';
import BaseLayout from '../base/BaseLayout.astro';
import DataInfo from '../base/footer/DataInfo.astro';

interface Props<PageState extends object> {
    view: View<PageState>;
}

const { view } = Astro.props;
---

<BaseLayout title={getViewTitle(view)}>
    <div class='ml-2'>
        <Breadcrumbs breadcrumbs={getViewBreadcrumbEntries(view)} />
    </div>
    <slot />
    <DataInfo slot='secondary-footer' dataOrigins={view.dataOrigins} />
</BaseLayout>
