---
import GenericAnalyzeSingleVariantPage from '../../../components/views/analyzeSingleVariant/GenericAnalyzeSingleVariantPage.astro';
import { Organisms } from '../../../types/Organism';
import type { MutationAnnotation } from '../../../types/annotations';

const mutationAnnotations: MutationAnnotation[] = [
    {
        name: 'NA amino acid substitution associated with reduced inhibition by NAIs',
        description:
            "This substitution has been associated with reduced NAI inhibition in subtype H5N1, for more details see the <a class='link' href='https://www.who.int/teams/global-influenza-programme/laboratory-network/quality-assurance/antiviral-susceptibility-influenza/neuraminidase-inhibitor'> Global Influenza Programme Report</a>",
        symbol: '*',
        nucleotideMutations: [],
        aminoAcidMutations: [
            'NA:I223V',
            'NA:E119D',
            'NA:S247N',
            'NA:I117V',
            'NA:T458N',
            'NA:I223L',
            'NA:Q136L',
            'NA:I314V',
            'NA:E119A',
            'NA:H275Y',
            'NA:V149A',
            'NA:N295S',
            'NA:V116A',
            'NA:E119G',
            'NA:K432T',
            'NA:I223M',
            'NA:I137T',
            'NA:N315D',
            'NA:D199G',
            'NA:K150N',
            'NA:N315S',
            'NA:T458I',
            'NA:I117T',
            'NA:S267N',
        ],
    },
];
---

<GenericAnalyzeSingleVariantPage organism={Organisms.h5n1} mutationAnnotations={mutationAnnotations} />
