---
import { fragmentLinkScrollMargin } from '../layouts/base/header/headerConstants';
interface Props {
    title: string;
}

const { title } = Astro.props;

const fragmentId = title.toLowerCase().replace(/ /g, '-');
---

<h2 class={`font-bold ${fragmentLinkScrollMargin} `} id={fragmentId}>
    <a href={`#${fragmentId}`} class='group flex items-center gap-1'>
        {title}
        <span class='iconify font-normal opacity-0 mdi--link-variant group-hover:opacity-100'></span>
    </a>
</h2>
