---
interface Props {
    title: string;
    linkSuffix?: string;
}

const { title, linkSuffix } = Astro.props;

const fragmentId = title.toLowerCase().replace(/ /g, '-') + (linkSuffix ? `-${linkSuffix}` : '');
---

<a href={`#${fragmentId}`} class='group items-center gap-1 capitalize'>
    {title}
    <span class='iconify mdi--link-variant font-normal opacity-0 group-hover:opacity-100'></span>
</a>
