---
interface Props {
    title: string;
    linkPrefix?: string;
}

const { title, linkPrefix } = Astro.props;

const fragmentId = title.toLowerCase().replace(/ /g, '-') + (linkPrefix ? `-${linkPrefix}` : '');
---

<a href={`#${fragmentId}`} class='group items-center gap-1 capitalize'>
    {title}
    <span class='iconify mdi--link-variant font-normal opacity-0 group-hover:opacity-100'></span>
</a>
