---
import ComponentHeadline from './ComponentHeadline.astro';
interface Props {
    title: string;
    height?: string;
}

const { title, height = '400px' } = Astro.props;
---

<div>
    <ComponentHeadline>{title}</ComponentHeadline>
    <div style={{ height }}>
        <slot />
    </div>
</div>
