---
import Link from './Link.astro';

interface Props {
    type: string;
}

const { type } = Astro.props;
---

<div>
    <details>
        <summary class='cursor-pointer font-bold'>How We Process Influenza Data</summary>
        {
            type === 'A' && (
                <p class='mb-4'>
                    Genspectrum uses all open influenza A data that is available on the INSDC (taxonid: 197911). Sadly
                    the INSDC does not annotate all sequences with segment, subtype and additionally does not by default
                    group all segments from the same sample/isolate. To classify influenza segments and subtypes we use
                    nextclade sort (using half of all k-mers for each subtype defined in{' '}
                    <Link href='https://github.com/anna-parker/InfluenzaAReferenceDB/blob/main/config/config.yaml'>
                        https://github.com/anna-parker/InfluenzaAReferenceDB
                    </Link>
                    ) to improve classification). Where available we use the assembly information to group segments that
                    are from the same sample/isolate. For all remaining segments we use a heuristic grouping algorithm
                    to group all segments from the same sample/isolate using the metadata available from each segment.
                </p>
            )
        }
        {
            type === 'B' && (
                <p class='mb-4'>
                    Genspectrum uses all open influenza B data that is available on the INSDC (taxonid: 11520). Sadly
                    the INSDC does not annotate all sequences with segment, subtype and additionally does not by default
                    group all segments from the same sample/isolate. To classify influenza segments and lineages we use
                    nextclade sort (using half off all k-mers for each lineage defined in
                    https://github.com/anna-parker/InfluenzaAReferenceDB/blob/main/influenza-b/config/config.yaml).
                    Where available we use the assembly information to group segments that are from the same
                    sample/isolate. For all remaining segments we use a heuristic grouping algorithm to group all
                    segments from the same sample/isolate using the metadata available from each segment.
                </p>
            )
        }
    </details>
    <details>
        <summary class='cursor-pointer font-bold'>Protein Functions Explained</summary>
        {
            type === 'A' && (
                <div>
                    <ul class='mb-4 list-inside list-disc'>
                        <li>Segment 1: PB2 protein (part of the RNA polymerase subunit).</li>
                        <li>Segment 2: PB1 protein (part of the RNA polymerase subunit).</li>
                        <li>Segment 3: PA protein (part of the RNA polymerase subunit).</li>
                        <li>
                            Segment 4: HA protein (hemagglutinin, part of the envelope, functions as an attachment
                            factor and membrane fusion protein. It is responsible for binding influenza to sialic acid
                            on the surface of target cells in the upper respiratory tract.)
                        </li>
                        <li>
                            Segment 5: NP protein (nucleoprotein, at start of infection binds with RNA to enter host
                            cell nucleus where it is transcribed and replicated).
                        </li>
                        <li>
                            Segment 6: NA protein (Neuraminidase, part of the envelope, is an enzyme that breaks
                            glycosidic bonds in molecules called neuraminic acids (often found as sialic acids). This
                            helps the new virus particles leave the infected cell and spread to other cells).
                        </li>
                        <li>
                            Segment 7: M1 and M2 proteins (M1 forms the capsid - a layer between the nucleoprotein and
                            the envelope, M2 a proton channel protein).
                        </li>
                        <li>Segment 8: NS1 and NEP proteins (non-structural protein and nuclear export protein)</li>
                    </ul>
                    <p class='mb-4'>
                        For each individual influenza subtype you can view the CDS of each protein in the genome data
                        viewer.
                    </p>
                </div>
            )
        }
        {
            type === 'B' && (
                <div>
                    <ul class='mb-4 list-inside list-disc'>
                        <li>Segment 1: PB1 protein (part of the RNA polymerase subunit).</li>
                        <li>Segment 2: PB2 protein (part of the RNA polymerase subunit).</li>
                        <li>Segment 3: PA protein (part of the RNA polymerase subunit).</li>
                        <li>
                            Segment 4: HA protein (hemagglutinin, functions as an attachment factor and membrane fusion
                            protein. It is responsible for binding influenza to sialic acid on the surface of target
                            cells in the upper respiratory tract.)
                        </li>
                        <li>
                            Segment 5: NP protein (nucleoprotein, at start of infection binds with RNA to enter host
                            cell nucleus where it is transcribed and replicated).
                        </li>
                        <li>
                            Segment 6: NA protein (Neuraminidase is an enzyme that breaks glycosidic bonds in molecules
                            called neuraminic acids (often found as sialic acids). This helps the new virus particles
                            leave the infected cell and spread to other cells).
                        </li>
                        <li>
                            Segment 7: M1 and M2 proteins (M1 forms the capsid - a layer between the nucleoprotein and
                            the envelope, M2 a proton channel protein).
                        </li>
                        <li>Segment 8: NS1 and NEP proteins (non-structural protein and nuclear export protein)</li>
                    </ul>
                    <p class='mb-4'>
                        For each individual influenza lineage you can view the CDS of each protein in the genome data
                        viewer.
                    </p>
                </div>
            )
        }
    </details>
</div>
