---
import { getGenomeDataSections, type GenomeData } from './getGenomeData';
import { getPathogenMegaMenuSections } from '../../../layouts/base/header/getPathogenMegaMenuSections';
import ComponentWrapper from '../../ComponentWrapper.astro';

type Props = {
    organism: keyof ReturnType<typeof getPathogenMegaMenuSections>;
    lengthScaleFactor?: number;
};

const { organism, lengthScaleFactor = 1 } = Astro.props;

const genome: GenomeData[] = getGenomeDataSections()[organism];
const maxLength = Math.max(...genome.map((gene) => gene.genomeLength));

const currentUrl = Astro.url;
---

<div class='mt-4'>
    <ComponentWrapper title='Genome Data Viewer'>
        <div class='flex flex-wrap gap-4'>
            {
                genome.map((gene) => (
                    <div
                        class='flex h-full flex-col'
                        style={{
                            width: (gene.genomeLength / maxLength / lengthScaleFactor) * 100 + '%',
                        }}
                    >
                        <h2 class='mt-3 text-justify text-base'>{gene.name}</h2>
                        <gs-genome-data-viewer
                            gff3Source={new URL(gene.gff3Source, currentUrl)}
                            genomeLength={gene.genomeLength}
                            width='100%'
                            height='100%'
                        >
                            <span slot='infoText'>
                                <slot name='infoText' />
                            </span>
                        </gs-genome-data-viewer>
                    </div>
                ))
            }
        </div>
    </ComponentWrapper>
</div>
